/* Color Palette */

:root {
	--bg-1: #0a0e14;
	--bg-2: #261b36;
	--bg-3: #1f232f;
	--txt-5: #6f3c89;
	--txt-4: #c6a3f2;
	--txt-3: #9688af;
	--txt-2: #000000;
	--txt-1: #ddccfc;
	--txt-err: #d9005c;
	--font-family: "JetBrains Mono";
	--font-weight: 400;
	--font-weight-light: 300;
}

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--bg-2);
    border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--txt-5);
}

::-webkit-scrollbar-corner {
	background: var(--bg-1);
}

.button {
	align-self: auto;
	border: none;
	background: none;
	cursor: pointer;
	font-size: 14px;
}

body {
	background-color: var(--bg-1);
	font-family: var(--font-family);
	padding: 4px;
}

#content {
	display: flex;
	flex-direction: row;
	gap: 16px;
	height: calc(100vh - 88px);
}

#main {
	position: relative;
	display: flex;
	flex-direction: column;
	outline: auto;
	outline-style: solid;
	outline-width: 1px;
	outline-color: var(--bg-3);
	transition: outline-color 0.2s ease;
	width: 100%;
	height: 100%;
	flex: 1;
}

#main:hover {
	outline-color: var(--txt-4);
}

#main:focus-within {
	outline-color: var(--txt-4);
}

#main-label {
	position: absolute;
	top: -10px;
	left: 16px;
	font-size: 16px;
	color: var(--bg-3);
	transition: color 0.2s ease;
	background-color: var(--bg-1);
	padding: 0 8px;
}

#main:focus-within #main-label {
    color: var(--txt-4);
}

#note-placeholder {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	color: var(--txt-5);
	font-size: 16px;
	text-align: center;
	padding: 20px;
}

#btn-newnote-main {
	color: var(--txt-3);
	background: none;
	align-self: auto;
	border: none;
	cursor: pointer;
	font-size: 16px;
	border-radius: 0px;
	height: auto;
	padding: 8px;
	font-family: var(--font-family);
	transition: color 0.2s ease;
}

#btn-newnote-main:hover {
	color: var(--txt-4);
}
