#note-title {
	display: flex;
	align-items: center;
	padding: 20px 0 0 20px;
	color: var(--txt-5);
	font-size: 18px;
	font-weight: bold;
	font-family: var(--font-family);
}

#note-title-input {
	color: var(--txt-1);
	background: none;
	border: none;
	outline: none;
	font-family: var(--font-family);
	font-size: 18px;
	font-weight: bold;
	flex: 1;
	margin-left: 8px;
}

#note-editor {
	padding-left: 20px;
	color: var(--txt-1);
	background: none;
	border: none;
	outline: none;
	font-family: var(--font-family);
	font-size: 18px;
	width: 100%;
	flex: 1;
	height: 100%;
	box-sizing: border-box;
	overflow: hidden;
}

#note-editor .cm-content {
	caret-color: var(--txt-4);
}

#note-editor .cm-editor.cm-focused {
	outline: none;
}

/* Main Placeholder */

#note-placeholder {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	color: var(--txt-5);
	font-size: 16px;
	text-align: center;
	padding: 20px;
}

#btn-newnote-ph {
	color: var(--txt-3);
	background: none;
	align-self: auto;
	border: none;
	cursor: pointer;
	font-size: 16px;
	border-radius: 0px;
	height: auto;
	padding: 8px;
	font-family: var(--font-family);
	transition: color 0.2s ease;
}

#btn-newnote-ph:hover {
	color: var(--txt-4);
}
