/*color palette*/

:root {
	--bg-1: #0a0e14;
	--bg-2: #261b36;
	--bg-3: #1f232f;
	--txt-5: #6f3c89;
	--txt-4: #c6a3f2;
	--txt-3: #9688af;
	--txt-2: #ddccfc;
	--txt-1: #ddccfc;
	--txt-err: #d9005c;
	--font-family: "JetBrains Mono";
	--font-weight: 400;
	--font-weight-light: 300;
}

.button {
	align-self: auto;
	border: none;
	background: none;
	cursor: pointer;
	font-size: 14px;
}

/*body*/

body {
	background-color: var(--bg-1);
	font-family: var(--font-family);
	padding: 4px;
}

/*titleBar*/

#title-bar {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 48px;
	background-color: var(--bg-1);
	outline: auto;
	outline-style: solid;
	outline-width: 1px;
	outline-color: var(--bg-3);
	padding: 0 16px;
	transition: outline-color 0.2s ease;
	user-select: none;
	margin-bottom: 16px;
}

#title-bar:hover {
	outline-color: var(--txt-4);
}

#title-bar:hover #title-bar-label {
	color: var(--txt-4);
}

#title-bar-label {
	position: absolute;
	top: -12px;
	left: 16px;
	font-size: 16px;
	color: var(--bg-3);
	transition: color 0.2s ease;
	background-color: var(--bg-1);
	padding: 0 8px;
}

#drag-region {
	flex: 1;
	height: 100%;
	width: 50%;
}

#title-bar-spacer {
	flex: 1;
	height: 100%;
}

#window-controls {
	display: flex;
	gap: 4px;
}

#window-controls button {
	align-self: auto;
	width: 24px;
	height: 24px;
	border: none;
	background: none;
	color: var(--bg-3);
	cursor: pointer;
	border-radius: 4px;
	font-size: 14px;
	transition: color 0.2s ease;
}

#window-controls button:hover {
	color: var(--txt-4);
}

#navbar-items {
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
	gap: 8px;
	float: left;
	color: var(--bg-3);
	text-align: center;
	cursor: pointer;
	transition: color 0.2s ease;
}



#navbar-items li:hover {
	color: var(--txt-4);
}

#navbar-items li.active {
    color: var(--txt-5); /* your purple */
    cursor: default;     /* removes the pointer cursor since it's not clickable */
}

/*pages & boards*/

#sidebar {
	display: flex;
	flex-direction: column;
	outline: auto;
	outline-style: solid;
	outline-width: 1px;
	outline-color: var(--bg-3);
	transition: outline-color 0.2s ease;
	min-width: 240px;
	max-width: fit-content;
	height: calc(100vh - 88px);
}

#sidebar:hover {
	outline-color: var(--txt-4);
}

#sidebar-spacer {
	padding: 16px;
}

#sidebar-label {
	position: absolute;
	top: 64px;
	left: 24px;
	font-size: 16px;
	color: var(--bg-3);
	transition: color 0.2s ease;
	background-color: var(--bg-1);
	padding: 0 8px;
}

#sidebar:hover #sidebar-label {
	color: var(--txt-4);
}

#btn-newpage {
	color: var(--txt-3);
	background: none;
	align-self: auto;
	border: none;
	cursor: pointer;
	font-size: 14px;
	border-radius: 4px;
	height: auto;
	padding: 8px;
	font-family: var(--font-family);
	transition: color 0.2s ease;
}

#btn-newpage:hover {
	color: var(--txt-1);
}


